[submodule "CSE141pp-DJR"]
	path = CSE141pp-DJR
	url = ./CSE141pp-Config
[submodule "CSE141pp-LabPython"]
	path = CSE141pp-LabPython
	url = ./CSE141pp-LabPython/
[submodule "CSE141pp-Config"]
	path = CSE141pp-Config
	url = ./CSE141pp-Config/
